/*
 CSS for CrimeButter Application
*/
html, body{
  background-color: gray;
  text-align: center;;
  font-size: 12px;
}

#bodyMiddle{
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
#visualizationDisplaySection{
  width: 50%;
  height: 400px;
  padding: 20px 50px;
  border: 5px solid black;
  background-color: powderblue;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;

}

#visualizationMenu{
  width: 100px;
  height: 400px;
  padding-left: 100px;
  border: 5px solid black;
  background-color: powderblue;

}
img {
  display: block;
  margin: 0 auto;
}

a:hover{
  color: purple;
}

/*Header for all pages(ALL STRINGS WILL BE DIFFERENT)*/
h1 {
  align: margin-top;
	width: 100%;
	background-color: #000e1a;
	text-align: center;
	color: #f5ca5c;
	margin: 120px auto 20px;
	display: block;
	font-family: Times New Roman, serif;
	box-shadow: 5px 5px 5px grey;
	border-radius: 5px;
 }

.displayClass{
  display: none;
}
.block{
  display: block;
}

.date {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.centerClass {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
